*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cajas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "caja1 caja1 caja2 caja2"
        "caja3 caja4 caja5 caja6"
    ;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.caja1 {
    grid-area: caja1;
    background-color: aquamarine;
}

.caja2 {
    grid-area: caja2;
    background-color: bisque;
}

.caja3 {
    grid-area: caja3;
    background-color: rgba(189, 131, 126, 0.877);

}

.caja4 {
    grid-area: caja4;
    background-color: rgba(189, 131, 126, 0.877);
}

.caja5 {
    grid-area: caja5;
    background-color: rgba(189, 131, 126, 0.877);
}

.caja6 {
    grid-area: caja6;
    background-color: rgba(189, 131, 126, 0.877);
}

.caja1,
.caja2,
.caja3,
.caja4,
.caja5,
.caja6{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
}


@media (max-width: 425px){

    .cajas{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "caja1 caja1"
        "caja2 caja2"
        "caja3 caja4"
        "caja5 caja6"
        ;
    }
    .caja2{
        margin-top: 2rem;
    }

    .caja5, .caja6{
        background-color: rgb(0, 162, 255);
    }
}
